@reference '../shared/foundation/index.css';

.card__grid {
  background: red;
}

@layer components {
  .card__grid {
    @apply grid gap-6 p-52;

    background: red;
  }

  .card {
    @apply rounded-lg bg-surface p-6 shadow transition;

    &:hover {
      @apply shadow-md;
    }
  }

  .card__title {
    @apply text-lg font-semibold text-foreground;
  }

  .card__text {
    @apply text-sm text-muted mt-2;
  }

  .card__iconBefore {
    @apply relative pl-10 text-green-700;

    &::before {
      content: "";

      @apply absolute left-0 top-1/2 h-6 w-6 -translate-y-1/2 bg-no-repeat bg-contain;

      background-image: url("/icons/check.svg");

      color: red;
    }
  }
}
